
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/pic3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }

  

  .lists {
  max-width: 100px;
  }
  


   
  input {
    padding: 20px;
    width: 90%;
    margin: 10px ;
    border-radius: 10px;
    border: 1px ;

  }

  button {
    padding: 10px;
    
    color: rgb(17, 3, 3);
    border:5px ;
    border-radius: 4px;
    cursor: pointer;
    background-color: #464646;
    display: inline-flex; /* Use inline-flex to center the icon within the button */
    justify-content: center; 
    align-items: center; 
    font-size: 20px;
    
    
  }

  button:hover {
    background-color:#ffffff;
  }

  button i {
    font-size: 20px; /* Adjust icon size to fit the button */
  }


  ul {
    list-style-type: none;
    padding: 0;
  }


  h1{
    
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: solid;
    text-shadow: 2px 2px#ffffff;
    color: #413b3c !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    display: flex; 
    align-items: center; /**/
   
  }

  .todo-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
  }
 

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #464646;
    margin: 5px 0;
    border: 1px ;
    border-radius: 0px;
    width: 250px;
  }
  
  li.completed {
    text-decoration: line-through;
    background-color: #464646;
  }
  .containerlist {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 5px; 
  
  }
  .delete-btn {
    
    color: rgb(250, 19, 19);
    border: none;
    cursor: pointer;
    
    border-radius: 4px;
    
  }
  
  .delete-btn:hover {
    background-color: #1d0301;
  }
  
  .complete-btn {
 
    color: rgb(50, 206, 3);
    border: none;
    cursor: pointer;
    
    border-radius: 4px;
    
  }
  
  .complete-btn:hover {
    background-color: #012501;
  }
  .incomplete-btn{
   
    color: rgb(240, 217, 9);
    border: none;
    cursor: pointer;
    
    border-radius: 4px;
    
  }
  .incomplete-btn:hover{
    background-color:#535301 ;
  }
 .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }



  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Adds space between cards */
    padding: 2rem;
    flex-direction: row;
  }
  
  .card {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background:  #c4bec0e5;
    max-width: 500px; /* Ensures the card doesn’t get too wide */
    width: 100%; /* Allows flexibility for different screens */
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 20px;
    height: 500px;
  }
  
  @media (max-width: 768px) {
    .blog_post {
      max-width: 45%;
      overflow: scroll;
    }
  
  }
  
  
  @media (max-width: 480px) {
    .blog_post {
      max-width: 100%; 
    }
  }
  
  
  .container_copy {
    padding: 2rem;
    max-height: 500px;
    align-items: center;
    color:white;
    font-weight: bold;
  }
  
  h3 {
    margin: 0 0 0.5rem 0;
    color: #ffffff;
    font-size: 1.25rem;
  }
  
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  
  p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #ffffff;
  }
  /*second container for the counter*/
  .seccontainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 1rem; 
    padding: 2rem;
    flex-direction: row;
  }
 .cards{
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background:  #413b3c;
  max-width: 500px; 
  width: 100%; 
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
  height: 200px;
  
 }
 .container_copys {
  padding: 2rem;
  max-height: 500px;
  align-items: center;
  color:white;
}